*{
    background-color: #f6f6f6;
}
.main{
    margin-left: 50px;
}
.heads{
    font-size: 22px;
    font-weight: bold;
    background-color: white;
}
.personal{
    width: 95%;
    height: 220px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;
}
.academic{
    width: 95%;
    height: 290px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;
}
.other-details{
    width: 95%;
    height: 180px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;
    margin-bottom: 30px;
}
.other,.other1,.other2,.second,.names,.first,.last,span{
    background-color: white;
}
form,p{
    font-family: 'calibri';
}
input{
    width: 17rem;
    height: 24px;
    border-radius: 5px;
    margin: .5rem 0;
    border: 2px solid rgb(107, 107, 107);
    padding: 3px;
    background-color: white;
}
div,.names{
    font-size: 18px;
}
.names,.other{
    display: flex;
}
.other2{
    margin: 0 0 0px 150px;
}
.last{
    margin-left: 100px;
}